H1 {
  color: white;
}

h3 {
  font-weight: 900;
  font-size: 20px;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

.iFUN {
  width: 120%;
  margin-top: 65px;
  transform: rotate(25deg);
}

.btn {
  margin-top: 60px;
  margin-right: 20px;
  ;
}

.sym {
  font-size: 50px;
  padding-bottom: 30px;
  color: #348498;
}

.sym:hover {
  color: #5bd1d7;
}

.weAre {
  margin-top: 70px;
  font-size: 3.5rem;
}

.navbar-brand {
  font-size: 30px;
  font-family: "Ubuntu";
}

.nav-item {
  padding-right: 18px;

}


.navbar {
  padding-left: 0;
}

#features {
  padding: 0% 10% 0% 10%;
  text-align: center;
  position: relative;


}

.feat {

  padding: 10% 3% 0% 3%;
}

#testimonials {

  background: #414a4c;
  text-align: center;
  color: white;
  margin-bottom: -40px;
}

.elon {
  width: 24.199%;
  border-radius: 50%;
  margin: 50px 12px 0px 0px;
}

.gates {
  width: 25%;
  border-radius: 50%;
  margin: 50px 12px 0px 0px;
}

.anish {
  width: 25%;
  border-radius: 50%;
  margin: 50px 12px 0px 0px;
}

#press {
  padding: 0% 10% 0% 10%;
  background: #414a4c;
  text-align: center;

}

.kant {
  width: 33.33%
}

.aaj {
  width: 30%;
  position: relative;
  right: 10px;
}

.ap1 {
  width: 33.33%
}

.nC {
  width: 300px;
  padding-right: 100px;
  position: relative;
  left: 50px;
}

.carousel-control-prev {
  padding-right: 40px;
}

.carousel-item {
  padding: 7% 10% 7% 10%;
}

#pricing {
  padding: 70px;
  text-align: center;

}

.cartop {
  padding: 60px 30px;
}

.money {
  font-size: 20px;
  padding-top: 25px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.allFeat {

  position: relative;
  background-color: white;
  bottom: 180px;
  margin-bottom: -50px
}

.container-fluid {
  padding-bottom: 100px;
}

@media(max-width:700px) {
  #title {
    text-align: center;
  }

  .iFun {
    transform: none;
  }
}

@media(max-width:700px) {
  .iFUN {
    transform: rotate(0);

  }
}

.guff{
  padding:100px 20px 100px 20px;
  background: #414a4c;
  text-align: center;
}
.sakyo {
  padding:80px 20px 80px 20px;
  
  text-align: center;
}
.sakk {
  color:black;
}